body {
  height: 100%;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.877);
}

.card-box {
  width: 300px;
  height: 400px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 2px 4px 18px rgba(8, 8, 8, 0.856);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(surf-morocco-750x500.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.box-contenitor {
  width: 300px;
  height: 400px;
  position: relative;
  transition: 1s, ease;
}

.position-top button {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #a9bda1;
  height: 40px;
  background-color: #86ac90;
  color: #ffffffc7;
  position: absolute;
  top: -150px;
  right: 30px;

  transition: scale (15px);
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.marocco {
  font-family: "Ubuntu", sans-serif;
  font-size: 2em;
  font-weight: bold;
  border-radius: 20px;
  border: 1px solid #a9bda1;
  background-color: #86ac90;
  color: #ffffffc7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  user-select: none;
  transition: scaleY (150px);
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.card-box:hover #button {
  top: 15px;
  cursor: pointer;
}

.card-box:hover .destinazioni {
  bottom: 15px;
}

.card-box:hover .prima-icon {
  bottom: 15px;
  right: 80px;
}

.card-box:hover .sec-icon {
  bottom: 15px;
}

.card-box:hover .marocco {
  left: 150%;
}

.destinazioni {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px;
  background: #86ac90cf;
  border-radius: 15px;
  color: #ffffffc7;
  text-align: center;
  font-weight: 800;

  position: absolute;
  bottom: -150px;
  left: 15px;
  bottom: -150px;
  right: 30px;

  transition: scale (15px);
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.sec-icon {
  background: #86ac90cf;
  border-radius: 15px;
  color: #ffffffc7;
  padding: 5px;
  position: absolute;
  bottom: -150px;
  right: 30px;

  transition: scale (15px);
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.prima-icon {
  position: absolute;
  bottom: -150px;
  right: 60px;
  background: #86ac90cf;
  border-radius: 15px;
  color: #ffffffc7;
  padding: 5px;
  transition: scale (15px);
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
